include /modules/rate/rate

mixin card(number, price, extra, reviews, image)
	.card
		.card__images 
			img(src=require(`@img/${image}`), alt="room image").card__image 
			.card__arrows 
				.card__arrow-wrapper-left
					.card__arrow-left expand_more
				.card__arrow-wrapper-right
					.card__arrow-right expand_more
			.card__balls 
				.card__ball.card__ball--full
				.card__ball
				.card__ball
				.card__ball
		.card__label 
			.card__label-top
				.card__title №&nbsp;
					.card__number #{number}
					if extra
						.card__lux люкс
				- const priceParsed = price ? price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") : "0"
				.card__price #[b #{priceParsed}₽] в сутки
			.card__label-bottom
				.card__rate 
					+rate("card-rate")
				.card__reviews #[b #{reviews}] Отзывов
